<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.AppEstateMapper">

	<resultMap id="appEstateMap" type="com.pig4cloud.pig.admin.api.entity.AppEstateEntity">
		<id property="estateId" column="estate_id"/>
		<id property="estateName" column="estate_name"/>
		<id property="estateFloor" column="estate_floor"/>
		<id property="estateCode" column="estate_code"/>
		<id property="estateDistrictCode" column="estate_district_code"/>
		<id property="estateAddress" column="estate_address"/>
		<id property="estateAreaLand" column="estate_area_land"/>
		<id property="estateAreaLandcertificate" column="estate_area_landcertificate"/>
		<id property="estateAreaEstate" column="estate_area_estate"/>
		<id property="estateAreaEstatecertificate" column="estate_area_estatecertificate"/>
		<id property="yjqyId" column="yjqy_id"/>
		<id property="qsdwId" column="qsdw_id"/>
		<id property="estateLandstatusId" column="estate_landstatus_id"/>
		<id property="estateEstatetypeId" column="estate_estatetype_id"/>
		<id property="estateEstatefunctionId" column="estate_estatefunction_id"/>
		<id property="createBy" column="create_by"/>
		<id property="createTime" column="create_time"/>
		<id property="updateBy" column="update_by"/>
		<id property="updateTime" column="update_time"/>
	</resultMap>

	<resultMap id="estateVoMap" type="com.pig4cloud.pig.admin.api.vo.EstateVO">
		<id property="estateId" column="estate_id"/>
		<result property="estateName" column="estate_name"/>
		<result property="estateFloor" column="estate_floor"/>
		<result property="estateCode" column="estate_code"/>
		<result property="districtCode" column="estate_district_code"/>
		<result property="districtName" column="district_name"/>
		<result property="estateAddress" column="estate_address"/>
		<result property="estateAreaLand" column="estate_area_land"/>
		<result property="estateAreaLandcertificate" column="estate_area_landcertificate"/>
		<result property="estateAreaEstate" column="estate_area_estate"/>
		<result property="estateAreaEstatecertificate" column="estate_area_estatecertificate"/>
		<result property="yjqyId" column="yjqy_id"/>
		<result property="yjqyName" column="yjqy_name"/>
		<result property="qsdwId" column="qsdw_id"/>
		<result property="qsdwName" column="qsdw_name"/>
		<result property="landstatusId" column="landstatus_id"/>
		<result property="landstatusName" column="landstatus_name"/>
		<result property="estatetypeId" column="estatetype_id"/>
		<result property="estatetypeName" column="estatetype_name"/>
		<result property="estatefunctionId" column="estatefunction_id"/>
		<result property="estatefunctionName" column="estatefunction_name"/>
		<result property="rentArea" column="rent_area"/>
		<result property="selfuseArea" column="selfuse_area"/>
		<result property="vacantArea" column="vacant_area"/>
		<result property="suiteNum" column="suite_num"/>
		<collection property="estatefileImageList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listImageByEstateId" column="estate_id">
		</collection>
		<collection property="estatefileVideoList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listVideoByEstateId" column="estate_id">
		</collection>
	</resultMap>

	<resultMap id="estateSuiteVoMap" type="com.pig4cloud.pig.admin.api.vo.EstateSuiteVO">
		<id property="estateId" column="estate_id"/>
		<result property="estateName" column="estate_name"/>
		<result property="estateFloor" column="estate_floor"/>
		<result property="estateCode" column="estate_code"/>
		<result property="districtCode" column="estate_district_code"/>
		<result property="districtName" column="district_name"/>
		<result property="estateAddress" column="estate_address"/>
		<result property="estateAreaLand" column="estate_area_land"/>
		<result property="estateAreaLandcertificate" column="estate_area_landcertificate"/>
		<result property="estateAreaEstate" column="estate_area_estate"/>
		<result property="estateAreaEstatecertificate" column="estate_area_estatecertificate"/>
		<result property="yjqyId" column="yjqy_id"/>
		<result property="yjqyName" column="yjqy_name"/>
		<result property="qsdwId" column="qsdw_id"/>
		<result property="qsdwName" column="qsdw_name"/>
		<result property="landstatusId" column="landstatus_id"/>
		<result property="landstatusName" column="landstatus_name"/>
		<result property="estatetypeId" column="estatetype_id"/>
		<result property="estatetypeName" column="estatetype_name"/>
		<result property="estatefunctionId" column="estatefunction_id"/>
		<result property="estatefunctionName" column="estatefunction_name"/>
		<result property="rentArea" column="rent_area"/>
		<result property="selfuseArea" column="selfuse_area"/>
		<result property="vacantArea" column="vacant_area"/>
		<result property="suiteNum" column="suite_num"/>
		<result property="suiteCode" column="suite_code"/>
		<result property="suiteIsselfuse" column="suite_isselfuse"/>
		<result property="suiteProperty" column="suite_suiteproperty"/>
		<collection property="estatefileImageList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listImageByEstateId" column="estate_id">
		</collection>
		<collection property="estatefileVideoList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listVideoByEstateId" column="estate_id">
		</collection>
		<collection property="suiteDTOList" ofType="com.pig4cloud.pig.admin.api.dto.SuiteDTO"
					select="com.pig4cloud.pig.admin.mapper.AppSuiteMapper.listSuitesByEstateId"
					column="{estateId=estate_id,suiteCode=suite_code,suiteIsselfuse=suite_isselfuse,suiteProperty=suite_suiteproperty}">
		</collection>
	</resultMap>

	<resultMap id="estateSuiteContractVoMap" type="com.pig4cloud.pig.admin.api.vo.EstateSuiteContractVO">
		<id property="estateId" column="estate_id"/>
		<result property="estateName" column="estate_name"/>
		<result property="estateFloor" column="estate_floor"/>
		<result property="estateCode" column="estate_code"/>
		<result property="districtCode" column="estate_district_code"/>
		<result property="districtName" column="district_name"/>
		<result property="estateAddress" column="estate_address"/>
		<result property="estateAreaLand" column="estate_area_land"/>
		<result property="estateAreaLandcertificate" column="estate_area_landcertificate"/>
		<result property="estateAreaEstate" column="estate_area_estate"/>
		<result property="estateAreaEstatecertificate" column="estate_area_estatecertificate"/>
		<result property="yjqyId" column="yjqy_id"/>
		<result property="yjqyName" column="yjqy_name"/>
		<result property="qsdwId" column="qsdw_id"/>
		<result property="qsdwName" column="qsdw_name"/>
		<result property="landstatusId" column="landstatus_id"/>
		<result property="landstatusName" column="landstatus_name"/>
		<result property="estatetypeId" column="estatetype_id"/>
		<result property="estatetypeName" column="estatetype_name"/>
		<result property="estatefunctionId" column="estatefunction_id"/>
		<result property="estatefunctionName" column="estatefunction_name"/>
		<result property="rentArea" column="rent_area"/>
		<result property="selfuseArea" column="selfuse_area"/>
		<result property="vacantArea" column="vacant_area"/>
		<result property="suiteNum" column="suite_num"/>
		<result property="suiteCode" column="suite_code"/>
		<result property="suiteIsselfuse" column="suite_isselfuse"/>
		<result property="suiteProperty" column="suite_suiteproperty"/>
		<result property="contractStatus" column="contract_status"/>
		<collection property="estatefileImageList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listImageByEstateId" column="estate_id">
		</collection>
		<collection property="estatefileVideoList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listVideoByEstateId" column="estate_id">
		</collection>
		<collection property="suiteContractVoList" ofType="com.pig4cloud.pig.admin.api.vo.SuiteContractVo"
					select="com.pig4cloud.pig.admin.mapper.AppSuiteMapper.listSuiteConstractsBySuiteId"
					column="{estateId=estate_id, suiteCode=suite_code, suiteIsselfuse=suite_isselfuse, suiteProperty=suite_suiteproperty, contractStatus=contract_status}">
		</collection>
	</resultMap>

	<select id="getEstateVosPage" resultMap="estateVoMap">
		SELECT
		app_estate.estate_id,
		app_estate.estate_name,
		app_estate.estate_floor,
		app_estate.estate_code,
		app_estate.estate_district_code,
		MAX(app_district.district_name) AS district_name,
		app_estate.estate_address,
		app_estate.estate_area_land,
		app_estate.estate_area_landcertificate,
		app_estate.estate_area_estate,
		app_estate.estate_area_estatecertificate,
		app_yjqy.yjqy_id,
		app_yjqy.yjqy_name,
		app_qsdw.qsdw_id,
		app_qsdw.qsdw_name,
		app_landstatus.landstatus_id,
		app_landstatus.landstatus_name,
		app_estatetype.estatetype_id,
		app_estatetype.estatetype_name,
		app_estatefunction.estatefunction_id,
		app_estatefunction.estatefunction_name,
		SUM(CASE WHEN app_suite.suite_isselfuse = 0 THEN app_suite.suite_area ELSE NULL END) AS rent_area,
		SUM(CASE WHEN app_suite.suite_isselfuse = 1 THEN app_suite.suite_area ELSE NULL END) AS selfuse_area,
		(app_estate.estate_area_estate - SUM(app_suite.suite_area)) AS vacant_area,
		COUNT(app_suite.suite_id) AS suite_num
		FROM app_estate
		LEFT JOIN app_district ON app_estate.estate_district_code = app_district.district_code
		LEFT JOIN app_yjqy ON app_estate.yjqy_id = app_yjqy.yjqy_id
		LEFT JOIN app_qsdw ON app_estate.qsdw_id = app_qsdw.qsdw_id
		LEFT JOIN app_estatefunction ON app_estate.estate_estatefunction_id = app_estatefunction.estatefunction_id
		LEFT JOIN app_estatetype ON app_estate.estate_estatetype_id = app_estatetype.estatetype_id
		LEFT JOIN app_landstatus ON app_estate.estate_landstatus_id = app_landstatus.landstatus_id
		LEFT JOIN app_suite ON app_suite.estate_id = app_estate.estate_id
		<where>
			app_estate.estate_id != 0
			<if test="query.estateId != null and query.estateId != ''">
				AND app_estate.estate_id = #{query.estateId}
			</if>
			<if test="query.estateName != null and query.estateName != ''">
				<bind name="estateNameLike" value="'%'+query.estateName+'%'"/>
				AND app_estate.estate_name LIKE #{estateNameLike}
			</if>
			<if test="query.estateCode != null and query.estateCode != ''">
				<bind name="estateCodeLike" value="'%'+query.estateCode+'%'"/>
				AND app_estate.estate_code LIKE #{estateCodeLike}
			</if>
			<if test="query.districtName != null and query.districtName != ''">
				<bind name="districtNameLike" value="'%'+query.districtName+'%'"/>
				AND app_district.district_name LIKE #{districtNameLike}
			</if>
			<if test="query.yjqyName != null and query.yjqyName != ''">
				AND app_yjqy.yjqy_name = #{query.yjqyName}
			</if>
			<if test="query.qsdwName != null and query.qsdwName != ''">
				AND app_qsdw.qsdw_name = #{query.qsdwName}
			</if>
			<if test="query.estatefunctionName != null and query.estatefunctionName != ''">
				AND app_estatefunction.estatefunction_name = #{query.estatefunctionName}
			</if>
			<if test="query.estatetypeName != null and query.estatetypeName != ''">
				AND app_estatetype.estatetype_name = #{query.estatetypeName}
			</if>
			<if test="query.landstatusName != null and query.landstatusName != ''">
				AND app_landstatus.landstatus_name = #{query.landstatusName}
			</if>
		</where>

		GROUP BY app_estate.estate_id
		ORDER BY app_estate.estate_id ASC
	</select>



	<select id="getEstateSuiteVosPage" resultMap="estateSuiteVoMap">
		SELECT
		app_estate.estate_id,
		app_estate.estate_name,
		app_estate.estate_floor,
		app_estate.estate_code,
		app_estate.estate_district_code,
		MAX(app_district.district_name) AS district_name,
		app_estate.estate_address,
		app_estate.estate_area_land,
		app_estate.estate_area_landcertificate,
		app_estate.estate_area_estate,
		app_estate.estate_area_estatecertificate,
		app_yjqy.yjqy_id,
		app_yjqy.yjqy_name,
		app_qsdw.qsdw_id,
		app_qsdw.qsdw_name,
		app_landstatus.landstatus_id,
		app_landstatus.landstatus_name,
		app_estatetype.estatetype_id,
		app_estatetype.estatetype_name,
		app_estatefunction.estatefunction_id,
		app_estatefunction.estatefunction_name,
		SUM(CASE WHEN app_suite.suite_isselfuse = 0 THEN app_suite.suite_area ELSE NULL END) AS rent_area,
		SUM(CASE WHEN app_suite.suite_isselfuse = 1 THEN app_suite.suite_area ELSE NULL END) AS selfuse_area,
		(app_estate.estate_area_estate - SUM(app_suite.suite_area)) AS vacant_area,
		COUNT(app_suite.suite_id) AS suite_num,
		app_suite.suite_code,
		app_suite.suite_isselfuse,
		app_suite.suite_suiteproperty
		FROM app_estate
		LEFT JOIN app_district ON app_estate.estate_district_code = app_district.district_code
		LEFT JOIN app_yjqy ON app_estate.yjqy_id = app_yjqy.yjqy_id
		LEFT JOIN app_qsdw ON app_estate.qsdw_id = app_qsdw.qsdw_id
		LEFT JOIN app_estatefunction ON app_estate.estate_estatefunction_id = app_estatefunction.estatefunction_id
		LEFT JOIN app_estatetype ON app_estate.estate_estatetype_id = app_estatetype.estatetype_id
		LEFT JOIN app_landstatus ON app_estate.estate_landstatus_id = app_landstatus.landstatus_id
		LEFT JOIN app_suite ON app_suite.estate_id = app_estate.estate_id
		<where>
			app_estate.estate_id != 0
			<if test="query.estateId != null and query.estateId != ''">
				AND app_estate.estate_id = #{query.estateId}
			</if>
			<if test="query.estateName != null and query.estateName != ''">
				<bind name="estateNameLike" value="'%'+query.estateName+'%'"/>
				AND app_estate.estate_name LIKE #{estateNameLike}
			</if>
			<if test="query.estateCode != null and query.estateCode != ''">
				<bind name="estateCodeLike" value="'%'+query.estateCode+'%'"/>
				AND app_estate.estate_code LIKE #{estateCodeLike}
			</if>
			<if test="query.districtName != null and query.districtName != ''">
				<bind name="districtNameLike" value="'%'+query.districtName+'%'"/>
				AND app_district.district_name LIKE #{districtNameLike}
			</if>
			<if test="query.yjqyName != null and query.yjqyName != ''">
				AND app_yjqy.yjqy_name = #{query.yjqyName}
			</if>
			<if test="query.qsdwName != null and query.qsdwName != ''">
				AND app_qsdw.qsdw_name = #{query.qsdwName}
			</if>
			<if test="query.estatefunctionName != null and query.estatefunctionName != ''">
				AND app_estatefunction.estatefunction_name = #{query.estatefunctionName}
			</if>
			<if test="query.estatetypeName != null and query.estatetypeName != ''">
				AND app_estatetype.estatetype_name = #{query.estatetypeName}
			</if>
			<if test="query.landstatusName != null and query.landstatusName != ''">
				AND app_landstatus.landstatus_name = #{query.landstatusName}
			</if>
			<if test="query.suiteCode != null and query.suiteCode != ''">
				<bind name="suiteCodeLike" value="'%'+query.suiteCode+'%'"/>
				AND app_suite.suite_code LIKE #{suiteCodeLike}
			</if>
			<if test="query.suiteIsselfuse != null and query.suiteIsselfuse != ''">
				AND app_suite.suite_isselfuse = #{query.suiteIsselfuse}
			</if>
			<if test="query.suiteProperty != null and query.suiteProperty != ''">
				<bind name="suitePropertyLike" value="'%'+query.suiteProperty+'%'"/>
				AND app_suite.suite_suiteproperty LIKE #{suitePropertyLike}
			</if>
		</where>

		GROUP BY app_estate.estate_id
		ORDER BY app_estate.estate_id ASC
	</select>



	<select id="getEstateSuiteContractVosPage" resultMap="estateSuiteContractVoMap">
		SELECT
		app_estate.estate_id,
		app_estate.estate_name,
		app_estate.estate_floor,
		app_estate.estate_code,
		app_estate.estate_district_code,
		MAX(app_district.district_name) AS district_name,
		app_estate.estate_address,
		app_estate.estate_area_land,
		app_estate.estate_area_landcertificate,
		app_estate.estate_area_estate,
		app_estate.estate_area_estatecertificate,
		app_yjqy.yjqy_id,
		app_yjqy.yjqy_name,
		app_qsdw.qsdw_id,
		app_qsdw.qsdw_name,
		app_landstatus.landstatus_id,
		app_landstatus.landstatus_name,
		app_estatetype.estatetype_id,
		app_estatetype.estatetype_name,
		app_estatefunction.estatefunction_id,
		app_estatefunction.estatefunction_name,
		SUM(CASE WHEN app_suite.suite_isselfuse = 0 THEN app_suite.suite_area ELSE NULL END) AS rent_area,
		SUM(CASE WHEN app_suite.suite_isselfuse = 1 THEN app_suite.suite_area ELSE NULL END) AS selfuse_area,
		(app_estate.estate_area_estate - SUM(app_suite.suite_area)) AS vacant_area,
		COUNT(app_suite.suite_id) AS suite_num,
		app_suite.suite_code,
		app_suite.suite_isselfuse,
		app_suite.suite_suiteproperty,
		app_contract.contract_status
		FROM app_estate
		LEFT JOIN app_district ON app_estate.estate_district_code = app_district.district_code
		LEFT JOIN app_yjqy ON app_estate.yjqy_id = app_yjqy.yjqy_id
		LEFT JOIN app_qsdw ON app_estate.qsdw_id = app_qsdw.qsdw_id
		LEFT JOIN app_estatefunction ON app_estate.estate_estatefunction_id = app_estatefunction.estatefunction_id
		LEFT JOIN app_estatetype ON app_estate.estate_estatetype_id = app_estatetype.estatetype_id
		LEFT JOIN app_landstatus ON app_estate.estate_landstatus_id = app_landstatus.landstatus_id
		LEFT JOIN app_suite ON app_suite.estate_id = app_estate.estate_id
		LEFT JOIN app_contract ON app_contract.suite_id = app_suite.suite_id
		<where>
			app_estate.estate_id != 0
			<if test="query.estateId != null and query.estateId != ''">
				AND app_estate.estate_id = #{query.estateId}
			</if>
			<if test="query.estateName != null and query.estateName != ''">
				<bind name="estateNameLike" value="'%'+query.estateName+'%'"/>
				AND app_estate.estate_name LIKE #{estateNameLike}
			</if>
			<if test="query.estateCode != null and query.estateCode != ''">
				<bind name="estateCodeLike" value="'%'+query.estateCode+'%'"/>
				AND app_estate.estate_code LIKE #{estateCodeLike}
			</if>
			<if test="query.districtName != null and query.districtName != ''">
				<bind name="districtNameLike" value="'%'+query.districtName+'%'"/>
				AND app_district.district_name LIKE #{districtNameLike}
			</if>
			<if test="query.yjqyName != null and query.yjqyName != ''">
				AND app_yjqy.yjqy_name = #{query.yjqyName}
			</if>
			<if test="query.qsdwName != null and query.qsdwName != ''">
				AND app_qsdw.qsdw_name = #{query.qsdwName}
			</if>
			<if test="query.estatefunctionName != null and query.estatefunctionName != ''">
				AND app_estatefunction.estatefunction_name = #{query.estatefunctionName}
			</if>
			<if test="query.estatetypeName != null and query.estatetypeName != ''">
				AND app_estatetype.estatetype_name = #{query.estatetypeName}
			</if>
			<if test="query.landstatusName != null and query.landstatusName != ''">
				AND app_landstatus.landstatus_name = #{query.landstatusName}
			</if>
			<if test="query.suiteCode != null and query.suiteCode != ''">
				<bind name="suiteCodeLike" value="'%'+query.suiteCode+'%'"/>
				AND app_suite.suite_code LIKE #{suiteCodeLike}
			</if>
			<if test="query.suiteIsselfuse != null and query.suiteIsselfuse != ''">
				AND app_suite.suite_isselfuse = #{query.suiteIsselfuse}
			</if>
			<if test="query.suiteProperty != null and query.suiteProperty != ''">
				<bind name="suitePropertyLike" value="'%'+query.suiteProperty+'%'"/>
				AND app_suite.suite_suiteproperty LIKE #{suitePropertyLike}
			</if>
			<if test="query.contractStatus != null and query.contractStatus != ''">
				AND app_contract.contract_status = #{query.contractStatus}
			</if>
		</where>

		GROUP BY app_estate.estate_id
		ORDER BY app_estate.estate_id ASC
	</select>
</mapper>