<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.AppQsdwMapper">

  <resultMap id="appQsdwMap" type="com.pig4cloud.pig.admin.api.entity.AppQsdwEntity">
        <id property="qsdwId" column="qsdw_id"/>
        <id property="qsdwName" column="qsdw_name"/>
        <id property="createBy" column="create_by"/>
        <id property="createTime" column="create_time"/>
        <id property="updateBy" column="update_by"/>
        <id property="updateTime" column="update_time"/>
  </resultMap>
</mapper>