<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.admin.mapper.AppSuiteMapper">

	<resultMap id="appSuiteMap" type="com.pig4cloud.pig.admin.api.entity.AppSuiteEntity">
		<id property="suiteId" column="suite_id"/>
		<id property="estateId" column="estate_id"/>
		<id property="suiteFloor" column="suite_floor"/>
		<id property="suiteCode" column="suite_code"/>
		<id property="suiteIsselfuse" column="suite_isselfuse"/>
		<id property="suiteArea" column="suite_area"/>
		<id property="suiteSupportingarea" column="suite_supportingarea"/>
		<id property="suiteReferdailyrent" column="suite_referdailyrent"/>
		<id property="suiteReferyearlyrent" column="suite_referyearlyrent"/>
		<id property="suiteRemark" column="suite_remark"/>
		<id property="suiteStatus" column="suite_status"/>
		<id property="createBy" column="create_by"/>
		<id property="createTime" column="create_time"/>
		<id property="updateBy" column="update_by"/>
		<id property="updateTime" column="update_time"/>
	</resultMap>

	<resultMap id="suiteDTOMap" type="com.pig4cloud.pig.admin.api.dto.SuiteDTO">
		<id property="suiteId" column="suite_id"/>
		<id property="estateId" column="estate_id"/>
		<id property="suiteFloor" column="suite_floor"/>
		<id property="suiteCode" column="suite_code"/>
		<id property="suiteIsselfuse" column="suite_isselfuse"/>
		<id property="suiteArea" column="suite_area"/>
		<id property="suiteSupportingarea" column="suite_supportingarea"/>
		<id property="suiteReferdailyrent" column="suite_referdailyrent"/>
		<id property="suiteReferyearlyrent" column="suite_referyearlyrent"/>
		<id property="suiteRemark" column="suite_remark"/>
		<id property="suiteStatus" column="suite_status"/>
		<id property="createBy" column="create_by"/>
		<id property="createTime" column="create_time"/>
		<id property="updateBy" column="update_by"/>
		<id property="updateTime" column="update_time"/>
		<collection property="suitefileImageList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listImageBySuiteId" column="suite_id">
		</collection>
		<collection property="suitefileVideoList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listVideoBySuiteId" column="suite_id">
		</collection>
	</resultMap>

	<resultMap id="suiteVoMap" type="com.pig4cloud.pig.admin.api.vo.SuiteVO">
		<id property="estateId" column="estate_id"/>
		<id property="estateName" column="estate_name"/>
		<id property="estateFloor" column="estate_floor"/>
		<id property="estateCode" column="estate_code"/>
		<id property="districtCode" column="estate_district_code"/>
		<id property="districtName" column="district_name"/>
		<id property="estateAddress" column="estate_address"/>
		<id property="estateAreaLand" column="estate_area_land"/>
		<id property="estateAreaLandcertificate" column="estate_area_landcertificate"/>
		<id property="estateAreaEstate" column="estate_area_estate"/>
		<id property="estateAreaEstatecertificate" column="estate_area_estatecertificate"/>
		<id property="yjqyId" column="yjqy_id"/>
		<id property="yjqyName" column="yjqy_name"/>
		<id property="qsdwId" column="qsdw_id"/>
		<id property="qsdwName" column="qsdw_name"/>
		<id property="landstatusId" column="estate_estatefunction_id"/>
		<id property="landstatusName" column="landstatus_name"/>
		<id property="estatetypeId" column="estate_estatetype_id"/>
		<id property="estatetypeName" column="estatetype_name"/>
		<id property="estatefunctionId" column="estate_landstatus_id"/>
		<id property="estatefunctionName" column="estatefunction_name"/>

		<id property="suiteId" column="suite_id"/>
		<id property="suiteEstateId" column="suite_estate_id"/>
		<id property="suiteFloor" column="suite_floor"/>
		<id property="suiteCode" column="suite_code"/>
		<id property="suiteIsselfuse" column="suite_isselfuse"/>
		<id property="suiteArea" column="suite_area"/>
		<id property="suiteSupportingarea" column="suite_supportingarea"/>
		<id property="suiteReferdailyrent" column="suite_referdailyrent"/>
		<id property="suiteReferyearlyrent" column="suite_referyearlyrent"/>
		<id property="suiteRemark" column="suite_remark"/>
		<id property="suiteStatus" column="suite_status"/>
	</resultMap>

	<resultMap id="appSuiteContractMap" type="com.pig4cloud.pig.admin.api.vo.SuiteContractVo">
		<id property="suiteId" column="suite_id"/>
		<id property="estateId" column="estate_id"/>
		<id property="suiteFloor" column="suite_floor"/>
		<id property="suiteCode" column="suite_code"/>
		<id property="suiteIsselfuse" column="suite_isselfuse"/>
		<id property="suiteArea" column="suite_area"/>
		<id property="suiteSupportingarea" column="suite_supportingarea"/>
		<id property="suiteReferdailyrent" column="suite_referdailyrent"/>
		<id property="suiteReferyearlyrent" column="suite_referyearlyrent"/>
		<id property="suiteRemark" column="suite_remark"/>
		<id property="suiteStatus" column="suite_status"/>
		<id property="createBy" column="create_by"/>
		<id property="createTime" column="create_time"/>
		<id property="updateBy" column="update_by"/>
		<id property="updateTime" column="update_time"/>
		<collection property="suitefileImageList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listImageBySuiteId" column="suite_id">
		</collection>
		<collection property="suitefileVideoList" ofType="com.pig4cloud.pig.admin.api.vo.EstatefileVO"
					select="com.pig4cloud.pig.admin.mapper.AppEstatefileMapper.listVideoBySuiteId" column="suite_id">
		</collection>
		<collection property="contractEntityList" ofType="com.pig4cloud.pig.admin.api.entity.AppContractEntity"
					select="com.pig4cloud.pig.admin.mapper.AppContractMapper.listContractsBySuiteId" column="suite_id">
		</collection>
	</resultMap>

	<select id="getSuiteVosPage" resultMap="suiteVoMap">
		SELECT
		appview_estateinfo.estate_id,
		appview_estateinfo.estate_name,
		appview_estateinfo.estate_floor,
		appview_estateinfo.estate_code,
		appview_estateinfo.estate_district_code,
		appview_estateinfo.district_name,
		appview_estateinfo.estate_address,
		appview_estateinfo.estate_area_land,
		appview_estateinfo.estate_area_landcertificate,
		appview_estateinfo.estate_area_estate,
		appview_estateinfo.estate_area_estatecertificate,
		appview_estateinfo.yjqy_id,
		appview_estateinfo.yjqy_name,
		appview_estateinfo.qsdw_id,
		appview_estateinfo.qsdw_name,
		appview_estateinfo.estate_landstatus_id,
		appview_estateinfo.landstatus_name,
		appview_estateinfo.estate_estatetype_id,
		appview_estateinfo.estatetype_name,
		appview_estateinfo.estate_estatefunction_id,
		appview_estateinfo.estatefunction_name,

		app_suite.suite_id,
		app_suite.estate_id AS suite_estate_id,
		app_suite.suite_floor,
		app_suite.suite_code,
		app_suite.suite_isselfuse,
		app_suite.suite_area,
		app_suite.suite_referdailyrent,
		app_suite.suite_referyearlyrent,
		app_suite.suite_remark,
		app_suite.suite_status
		FROM app_suite
		LEFT JOIN appview_estateinfo ON app_suite.estate_id = appview_estateinfo.estate_id
		<where>
			appview_estateinfo.estate_id != 0
			<if test="query.estateId != null and query.estateId != ''">
				AND appview_estateinfo.estate_id = #{query.estateId}
			</if>
			<if test="query.estateName != null and query.estateName != ''">
				<bind name="estateNameLike" value="'%'+query.estateName+'%'"/>
				AND appview_estateinfo.estate_name LIKE #{estateNameLike}
			</if>
			<if test="query.districtName != null and query.districtName != ''">
				<bind name="districtNameLike" value="'%'+query.districtName+'%'"/>
				AND appview_estateinfo.district_name LIKE #{districtNameLike}
			</if>
			<if test="query.yjqyName != null and query.yjqyName != ''">
				AND appview_estateinfo.yjqy_name = #{query.yjqyName}
			</if>
			<if test="query.qsdwName != null and query.qsdwName != ''">
				AND appview_estateinfo.qsdw_name = #{query.qsdwName}
			</if>
			<if test="query.estatefunctionName != null and query.estatefunctionName != ''">
				AND appview_estateinfo.estatefunction_name = #{query.estatefunctionName}
			</if>
			<if test="query.estatetypeName != null and query.estatetypeName != ''">
				AND appview_estateinfo.estatetype_name = #{query.estatetypeName}
			</if>
			<if test="query.landstatusName != null and query.landstatusName != ''">
				AND appview_estateinfo.landstatus_name = #{query.landstatusName}
			</if>
			<if test="query.suiteId != null and query.suiteId != ''">
				AND app_suite.suite_id = #{query.suiteId}
			</if>
			<if test="query.suiteCode != null and query.suiteCode != ''">
				<bind name="suiteCodeLike" value="'%'+query.suiteCode+'%'"/>
				AND app_suite.suite_code LIKE #{suiteCodeLike}
			</if>
		</where>

		<if test="_databaseId != 'mssql'">
			ORDER BY appview_estateinfo.estate_id ASC
		</if>
	</select>


	<!-- 通过建筑ID，查询房屋信息-->
	<select id="listSuitesByEstateId" resultMap="suiteDTOMap">
		SELECT *
		FROM app_suite
		WHERE app_suite.estate_id = #{estateId}
	</select>

	<!-- 查询房屋-合同信息-->
	<select id="getSuiteContractVosPage" resultMap="appSuiteContractMap">
		SELECT *
		FROM app_suite
		<where>
			app_suite.suite_id != 0
			<if test="query.suiteId != null and query.suiteId != ''">
				AND app_suite.suite_id = #{query.suiteId}
			</if>
			<if test="query.suiteCode != null and query.suiteCode != ''">
				<bind name="suiteCodeLike" value="'%'+query.suiteCode+'%'"/>
				AND app_suite.suite_code LIKE #{suiteCodeLike}
			</if>
		</where>

		<if test="_databaseId != 'mssql'">
			ORDER BY app_suite.suite_id ASC
		</if>
	</select>

	<!-- 通过房屋ID，查询房屋-合同信息-->
	<select id="listSuiteConstractsBySuiteId" resultMap="appSuiteContractMap">
		SELECT *
		FROM app_suite
		WHERE app_suite.estate_id = #{estateId}
	</select>

</mapper>